<div class="preguntasFrecuentes">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="" role="" id="">
			<h4 class="panel-title">
				<a role="" data-toggle="collapse" data-parent="#accordion" href='<%= "#collapse-"+numero %>'  aria-expanded="true" aria-controls='<%= "collapse-"+numero %>'>
          <h4 class="leerMas"><%= pregunta %></h4>
				</a>
			</h4>
		</div>
		<div id='<%= "collapse-"+numero %>' class="panel-collapse collapse" role="tabpanel" aria-labelledby='<%= "heading-"+numero %>'>
			<div class="panel-body PostContenido">
				<div>
          <p><%= respuesta %></p>
				</div>
			</div>
		</div>
	</div>
</div>
