<article id="grafica" class="container-fluid cuerpo">

  <section class="titulo" class="row">
     <div class="col-xs-12 text-center sub-titulo">
       <h2 class="titulosMovil"> 5 <span class="rojo">/</span> GRÁFICA DE SEGUIMIENTO</h2>
     </div>
  </section>

  <section class="row paddingtop">
    <div class="col-xs-12 text-center paddingtop">
      <h2 class="">Zona en construcción</h2>
    </div>
    <div class="ct-chart col-md-12">
    </div>
    <div class="col-xs-12 text-center paddingtop">
      <h4>COMISURA LABIAL / BORDE EXTERIOR DEL OJO:</h4>
    </div>
    <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 grafica">
      <%= image_tag 'grafica.png', alt: 'grafica', height: '', width: '100%' %>
    </div>

    <div class="col-xs-12 text-center paddingtop">
      <h4>COMISURA LABIAL / INCISURAINTERTRÁGICA:</h4>
    </div>
    <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 grafica">
      <%= image_tag 'grafica.png', alt: 'grafica', height: '', width: '100%' %>
    </div>

    <div class="col-xs-12 text-center paddingtop">
      <h4>LÍNEA CIERRE LABIAL / BORDES DE ARCOS CÚPIDO:</h4>
    </div>
    <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 grafica">
      <%= image_tag 'grafica.png', alt: 'grafica', height: '', width: '100%' %>
    </div>

    <div class="col-xs-12 text-center paddingtop">
      <h4>GONIO / MENTÓN:</h4>
    </div>
    <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 grafica">
      <%= image_tag 'grafica.png', alt: 'grafica', height: '', width: '100%' %>
    </div>

    <div class="col-xs-12 text-center paddingtop">
      <h4>TERCIOS:</h4>
    </div>
    <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 grafica">
      <%= image_tag 'grafica.png', alt: 'grafica', height: '', width: '100%' %>
    </div>

    <div class="col-xs-12 text-center paddingtop">
      <h4>TERCIOS DEL 1/3 INFERIOR:</h4>
    </div>
    <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 grafica">
      <%= image_tag 'grafica.png', alt: 'grafica', height: '', width: '100%' %>
    </div>

  </section>


  <section class="navegacion row paddingtop text-center">
    <div class="col-sm-offset-1 col-sm-5 col-xs-offset-2 col-xs-4">
      <span onclick="goBack()" class="glyphicon glyphicon-circle-arrow-left btn-pasos"></span>
    </div>
    <div class="col-sm-5 col-xs-4">
      <span class="glyphicon glyphicon-ok-sign btn-pasos ruta" data-url="/"></span>
    </div>
  </section>
</article>
