<article class="container-fluid cuerpo">

    <section id="titulo" class="row">
        <div class="col-xs-offset-2 col-xs-8"><br>
            <%= image_tag 'login/login.png', alt: 'login', heigh: '', width: '100%', class: 'logologin' %>
        </div>
        <div class="col-xs-offset-2 col-xs-8 paddingtop">
            <%= image_tag 'login/malla.png', alt: 'login', heigh: '', width: '100%', class: 'logologin' %>
        </div>
    </section>
    <section  id="login" class="row">
        <div class="col-sm-offset-4 col-sm-4 col-xs-12 paddingtop paddingbottom">
            <%= form_for(:user, url: session_path(:user)) do |f| %>
                <div class="row text-center">
                    <div class="form-group col-sm-6">
                        <%= f.label :email, "Correo electrónico" %>
                        <%= f.email_field :email, autofocus: true %>
                    </div>

                    <div class="form-group col-sm-6">
                        <%= f.label :password, "Contraseña" %>
                        <%= f.password_field :password, autocomplete: "off" %>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group checkbox text-center">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me, "Recordarme" %>
                    </div>
                </div>
                <div class="text-center">
                    <%= f.submit "Entra" %><br>
                    <%= link_to "¿Olvidaste tu contraseña?", new_password_path(:user) %>
                </div>
            <% end %>
        </div>
    </section>
    <section id="parte1" class="row">
      <div class="col-xs-12">
        <span class="titulosLogin">VALOR AÑADIDO</span>
        <div><br>En esta era digital, colocar la tecnología al servicio profesional se convierte en algo natural. La operatividad que proporciona en entornos laborales consigue que con la misma dedicación de tiempo, simplifiquemos el empleo de recursos y obtengamos resultados más productivos.
        </div>
     </div>
    </section>
    <section id="parte2" class="row">
      <div class="col-xs-12">
        <span class="titulosLogin">VISIÓN 2.0</span>
        <div><br>En nuestra visión 2.0 elaboramos una propuesta que unifica distintos protocolos de actuación, para obtener del uso de la Logometría Orofacial un registro integral de las características de nuestros pacientes.
        </div>
        <%= image_tag 'login/20.png', alt: '', heigh: '', width: '80%', class: 'imagelogin' %>
     </div>
    </section>
    <section id="parte3" class="row">
      <div class="col-xs-12">
        <span class="titulosLogin2">PRIVACIDAD DE DATOS</span>
        <div><br>Logometría Orofacial ha adoptado en su sistema de información las medidas técnicas y organizativas legalmente requeridas, a fin de garantizar la seguridad y confidencialidad de los datos almacenados, evitando así, en la medida de lo posible, su alteración, pérdida, tratamiento o acceso no autorizado.
        </div>
        <div><br>
          <%= image_tag 'login/candado.png', alt: '', heigh: '', width: '8%', style: 'margin:auto; opacity:0.2;' %>
          <%= image_tag 'login/candado.png', alt: '', heigh: '', width: '8%', style: 'margin:auto; opacity:0.4;' %>
          <%= image_tag 'login/candado.png', alt: '', heigh: '', width: '8%', style: 'margin:auto; opacity:0.6;' %>
          <%= image_tag 'login/candado.png', alt: '', heigh: '', width: '8%', style: 'margin:auto; opacity:0.8;' %>
          <%= image_tag 'login/candado.png', alt: '', heigh: '', width: '8%', style: 'margin:auto; opacity:1;' %>
        </div>
     </div>
    </section>
    <section id="parte4" class="row">
      <div class="col-xs-12">
        <span class="titulosLogin">¿POR QUÉ NOSOTROS?</span>
        <div><br>Porque la Logometría Orofacial nos permite reducir los tiempos de trabajo, porque facilita la comunicación entre profesionales, porque acerca al paciente y al logopeda, porque aporta objetividad al tratamiento de los datos...y la pregunta es ¿ por qué no?
        </div><br>
        <div class="col-sm-12 padding-sup-inf">
          <div id="carrusel-nosotros" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="2500">
          <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/carrousel/01.png" alt="" width="100%" style="margin:auto;">
                <%= image_tag 'carrousel/01.png', alt: '', width: '100%', style: 'margin:auto;' %>
                <div class="carousel-caption">
                  <h3 class="negro"></h3>
                  <p></p>
                </div>
              </div>
              <div class="item">
                <%= image_tag 'carrousel/02.png', alt: '', width: '100%', style: 'margin:auto;' %>
                <div class="carousel-caption">
                  <h3></h3>
                  <p></p>
                </div>
            </div>
            <div class="item">
                <%= image_tag 'carrousel/03.png', alt: '', width: '100%', style: 'margin:auto;' %>
              <div class="carousel-caption">
                <h3></h3>
                <p></p>
              </div>
            </div>
          </div>
        </div>
     </div>
    </section>
    <section id="parte5" class="row">
      <div class="col-xs-12">
        <span class="titulosLogin">CONTACTO</span>
        <div><br>Déjanos un mensaje junto a tu nombre y email y te responderemos con la mayor brevedad.<br><br>
          Coméntanos su caso, sus dudas o sugerencias. Estaremos encantados de poder ofrecerle ayuda y orientación personalizada.
        </div>
      </div>
      <div id="contactoDatos" class="row cuerpoVistas">
        <div class="col-sm-offset-2 col-sm-8">
          <div id="formulario_contacto" class="container-fluid">
            <form action="result.php" method="post">
              <span class="blanco">Nombre*</span><br>
                <input class="barra_formulario" name="name" skinpart="name" type="text" placeholder="Tu nombre" maxlenght="50" /><br>
              <span class="blanco">Email*</span><br>
                <input class="barra_formulario" name="email" skinpart="email" type="text" placeholder="Tu email" maxlenght="50" /><br>
              <span class="blanco">Asunto*</span><br>
                <input class="barra_formulario" name="subject" skinpart="subject" type="text" placeholder="Escribe el asunto" maxlenght="50" /><br>
              <span class="blanco">Tu comentario*</span><br>
                <textarea class="barra_formulario_mensaje" name="message" skinpart="message" placeholder="Escribe tu comentario"></textarea><br>
              <span class="blanco">Su dirección de correo electrónico no será publicada. Todos los campos son obligatorios.<br><br></span><input class="btn enviar_correo" name="send" skinpart="send" type="submit" value="ENVIAR" />
            </form>
          </div>
        </div>
      </div>
    </section>
</article>
