<article class="container-fluid cuerpo">
	<section class="titulo" class="row">
      <div class="col-xs-12 text-center sub-titulo">
        <h2 class="titulosMovil"> 2 <span class="rojo">/</span> SELECCIÓN PERFIL</h2>
      </div>
    </section>

    <section class="row paddingtop">
    	<div class="col-xs-12 text-center paddingtop">
    		<h4>ESCOGER SOLO UN PERFIL</h4>
    	</div>
    </section>

    <section class="row paddingtop">
    	<div class="col-sm-offset-3 col-sm-2 col-xs-12 text-center contenedor-icono-seleccion"></br>
        <%= image_tag 'paso02/frontal.png',
            alt: 'frontal',
            height: '',
            width: '100%',
            class: "perfiles"  %></br>
    		<span class="icono-seleccion">FRONTAL</span>
    	</div>
    	<div class="col-sm-2 col-xs-12 text-center contenedor-icono-seleccion"></br>
        <%= image_tag 'paso02/lateral.png',
            alt: 'frontal',
            height: '',
            width: '100%',
            class: "perfiles"  %></br>
    		<span class="icono-seleccion">LATERAL</span>
    	</div>
    	<div class="col-sm-2 col-xs-12 text-center contenedor-icono-seleccion"></br>
        <%= image_tag 'paso02/busto.png',
            alt: 'frontal',
            height: '',
            width: '100%',
            class: "perfiles"  %></br>
    		<span class="icono-seleccion">BUSTO</span>
    	</div>

      <div class="form-group">
        <label class="control-label col-xs-12 text-center">SEGUIMIENTO:</label>
        <div class="col-sm-offset-3 col-sm-3 text-center">
          <label class="radio-inline">
            <input type="radio" name="genderRadios" value=""> ESTÉTICA
          </label>
        </div>
        <div class="col-sm-3 text-center">
          <label class="radio-inline">
            <input type="radio" name="genderRadios" value=""> FUNCIONAL
          </label>
        </div>
      </div>

    </section>

    <section class="navegacion row paddingtop text-center">
      <div class="col-sm-offset-1 col-sm-5 col-xs-offset-2 col-xs-4">
        <span onclick="goBack()" class="glyphicon glyphicon-circle-arrow-left btn-pasos"></span>
      </div>
      <div class="col-sm-5 col-xs-4">
        <span class="glyphicon glyphicon-circle-arrow-right btn-pasos ruta" data-url="<%= url_for new_paciente_medicione_path(params[:paciente_id])%>"></span>
      </div>
    </section>
</article>
