<article id="resultados" class="container-fluid cuerpo">
	<section class="titulo" class="row">
      <div class="col-xs-12 text-center sub-titulo">
        <h2 class="titulosMovil"> 3 <span class="rojo">/</span> RESULTADOS</h2>
      </div>
    </section>

    <section class="row paddingtop">

        <div class="col-xs-12 text-center paddingtop">
            <h4>MEDIA ARITMÉTRICA</h4>
        </div>

    	<div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados">
            <div class="col-sm-4 col-xs-12 musculo">
                COMISURA LABIAL / BORDE EXTERIOR DEL OJO:
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
              <span>Derecho: </span><span><%= @medicione.ojo_comisura_derecho %></span>
              <%= debora @medicione.ojo_comisura_derecho,@ojo_comisura_derecho %>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
              <span>Izquierdo: </span><span><%= @medicione.ojo_comisura_izquierdo %></span>
              <%= debora @medicione.ojo_comisura_izquierdo,@ojo_comisura_izquierdo %>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados">
            <div class="col-sm-4 col-xs-12 musculo">
                ALTURA DEL LABIO SUPERIOR:
            </div>
            <div class="col-sm-8 col-xs-6 text-center">
              <span><%= @medicione.altura_labio_superior %></span>
              <%= debora @medicione.altura_labio_superior,@altura_labio_superior %>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados">
            <div class="col-sm-4 col-xs-12 musculo">
                ALTURA DEL LABIO INFERIOR:
            </div>
            <div class="col-sm-8 col-xs-6 text-center">
              <span><%= @medicione.altura_labio_inferior %></span>
              <%= debora @medicione.altura_labio_inferior,@altura_labio_inferior %>
            </div>
        </div>


        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados">
            <div class="col-sm-4 col-xs-12 musculo">
                FILTRO:
            </div>
            <div class="col-sm-8 col-xs-12 text-center">
              <span><%= @medicione.leporino %></span>
              <%= debora @medicione.leporino,@leporino %>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados">
            <div class="col-sm-4 col-xs-12 musculo">
                TRICHION / GNATIO:
            </div>
            <div class="col-sm-8 col-xs-12 text-center">
              <span><%= @medicione.trichion_menton %></span>
              <%= debora @medicione.trichion_menton,@trichion_menton %>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados">
          <div class="col-sm-4 col-xs-12 musculo">
            DISTANCIA INTERCISIVA MAXIMA
          </div>
          <div class="col-sm-8 col-xs-12 text-center">
               <span><%= @medicione.distancia_intercisiva_maxima %></span>
               <%= debora @medicione.distancia_intercisiva_maxima,@distancia_intercisiva_maxima %>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados text-center">
            <div class="col-sm-12 musculo">
                <span>TERCIOS</span>
            </div>
            <div class="col-sm-4 col-xs-12">
                TRICHION / GLABELA: <BR>
                <span><%= @medicione.tercio_superior %></span>
                <%= debora @medicione.tercio_superior,@tercio_superior %>
            </div>
            <div class="col-sm-4 col-xs-12">
                GLABELA / SUBNASAL: <BR>
                <span><%= @medicione.tercio_medio %></span>
                <%= debora @medicione.tercio_medio,@tercio_medio %>
            </div>
            <div class="col-sm-4 col-xs-12">
                 SUBNASAL / GNATIO: <BR>
                 <span><%= @medicione.tercio_inferior %></span>
                 <%= debora @medicione.tercio_inferior,@tercio_inferior %>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados text-center">
            <div class="col-sm-12 musculo">
                <span>TERCIOS del 1/3 INFERIOR</span>
            </div>
            <div class="col-sm-4 col-xs-12">
                SUBNASAL / ESTOMIO: <BR>
                <span><%= @medicione.tercio_inferior_superior %></span>
                <%= debora @medicione.tercio_inferior_superior,@tercio_inferior_superior %>
            </div>
            <div class="col-sm-4 col-xs-12">
                ESTOMIO / SUPRAMENTONIANO: <BR>
                <span><%= @medicione.tercio_inferior_medio %></span>
                <%= debora @medicione.tercio_inferior_medio,@tercio_inferior_medio %>
            </div>
            <div class="col-sm-4 col-xs-12">
                 SUPRAMENTONIANO / GNATIO: <BR>
                 <span><%= @medicione.tercio_inferior_inferior %></span>
                 <%= debora @medicione.tercio_inferior_inferior,@tercio_inferior_inferior %>
            </div>
        </div>

    </section>

    <section class="row paddingtop">
        <div class="col-xs-12 text-center">
            <h4>COMPARATIVA EN  %</h4>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados sologrande">
            <div class="col-sm-4 col-xs-12">
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                DERECHO
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                IZQUIERDO
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados">
            <div class="col-sm-4 col-xs-12 text-center musculo">
                COMISURA LABIAL / BORDE EXTERIOR DEL OJO:
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <span class="solopequeno">DCHO</span><br>
                <span>
                  <%= porcentaje(@medicione.ojo_comisura_derecho, [
                    @medicione.ojo_comisura_derecho,
                    @medicione.ojo_comisura_izquierdo]) %>
                </span>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <span class="solopequeno">IZQ</span><br>
                <span>
                  <%= porcentaje(@medicione.ojo_comisura_izquierdo, [
                    @medicione.ojo_comisura_derecho,
                    @medicione.ojo_comisura_izquierdo]) %>
                </span>
            </div>
        </div>

    </section>

    <section class="row paddingtop">
        <div class="col-xs-12 text-center">
            <h4>COMPARATIVA DE LOS TERCIOS</h4>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados text-center">
            <div class="col-sm-4 col-xs-12">
                <span class="musculo">SUPERIOR</span><BR>
                  <span>
                    <%= porcentaje(@medicione.tercio_superior, [
                      @medicione.tercio_superior,
                      @medicione.tercio_medio,
                      @medicione.tercio_inferior]) %>
                  </span>
            </div>
            <div class="col-sm-4 col-xs-12">
                <span class="musculo">MEDIO</span><BR>
                  <span>
                    <%= porcentaje(@medicione.tercio_medio, [
                      @medicione.tercio_superior,
                      @medicione.tercio_medio,
                      @medicione.tercio_inferior]) %>
                  </span>
            </div>
            <div class="col-sm-4 col-xs-12">
                <span class="musculo">INFERIOR</span><BR>
                  <span>
                    <%= porcentaje(@medicione.tercio_inferior, [
                      @medicione.tercio_superior,
                      @medicione.tercio_medio,
                      @medicione.tercio_inferior]) %>
                  </span>
            </div>
        </div>

    </section>

    <section class="row paddingtop">
        <div class="col-xs-12 text-center">
            <h4>TERCIOS DEL 1/3 INFERIOR</h4>
        </div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-12 cuadros-resultados text-center">
            <div class="col-sm-4 col-xs-12">
                <span class="musculo">SUPERIOR</span><BR>
                  <span>
                    <%= porcentaje(@medicione.tercio_inferior_superior, [
                      @medicione.tercio_inferior_superior,
                      @medicione.tercio_inferior_medio,
                      @medicione.tercio_inferior_inferior]) %>
                  </span>
            </div>
            <div class="col-sm-4 col-xs-12">
                <span class="musculo">MEDIO</span><BR>
                  <span>
                    <%= porcentaje(@medicione.tercio_inferior_medio, [
                      @medicione.tercio_inferior_superior,
                      @medicione.tercio_inferior_medio,
                      @medicione.tercio_inferior_inferior]) %>
                  </span>
            </div>
            <div class="col-sm-4 col-xs-12">
                <span class="musculo">INFERIOR</span><BR>
                  <span>
                    <%= porcentaje(@medicione.tercio_inferior_inferior, [
                      @medicione.tercio_inferior_superior,
                      @medicione.tercio_inferior_medio,
                      @medicione.tercio_inferior_inferior]) %>
                  </span>
            </div>
        </div>

    </section>

    <section class="navegacion row paddingtop text-center">
      <div class="col-sm-offset-1 col-sm-5 col-xs-offset-2 col-xs-4">
        <span class="glyphicon glyphicon-circle-arrow-left btn-pasos go-back">
        </span>
      </div>
      <div class="col-sm-5 col-xs-4">
        <span class="glyphicon glyphicon-circle-arrow-right btn-pasos ruta" data-url="<%= url_for paciente_path(@medicione.paciente.id) %>">
        </span>
      </div>

    </section>
</article>
