<article class="container-fluid cuerpo">

  <section id="parte6" class="row">
    <div class="col-xs-12">
      <span class="titulosLogin">TU LOGOPEDA</span>
      <div><br>Bienvenido a la primera 'comunidad' de profesionales dedicados al estudio y rehabilitación 'logopeda'. <br>
        Contamos con más de xxx profesionales de la LOGOPEDIA por todo el territorio nacional, intentando facilitar y acercar el usuario al logopeda que cubra sus necesidades. Esta comunidad de profesionales también pueden estar o mantener contacto con otros profesionales dentro de nuesto sitio web con el fin de poner en común los conocimientos y poder crecer y ofrecer un trato y servico lo más cercano posible.
      </div>
    </div>
    <div class="col-xs-12">
      <form class="navbar-form tu-logopeda">
        <h4 class="txt-tuLogopeda">BUSCA TU LOGOPEDA MÁS CERCANO
        </h4>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-5 col-xs-6 text-center">
              <input type="text" class="form-control" placeholder="Localidad">
            </div>
            <div class="col-sm-5 col-xs-6">
              <button type="submit" class="btn btn-default">Buscar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
<% @usuarios.each do |u| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 listadoLogopedas">
          <span><%= u.nombre.to_s %> <%= u.apellidos%></span>
        </div>
        <div class="col-xs-6 listadoLogopedas">
          <span><%= u.localidad %><span>(<%= u.provincia.nombre %>)</span></span>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-xs-6 listadoLogopedas">
          <span>Nombre Apellido</span>
        </div>
        <div class="col-xs-6 listadoLogopedas">
          <span>Localidad <span>(Provincia)</span></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 listadoLogopedas">
          <span>Nombre Apellido</span>
        </div>
        <div class="col-xs-6 listadoLogopedas">
          <span>Localidad <span>(Provincia)</span></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 listadoLogopedas">
          <span>Nombre Apellido</span>
        </div>
        <div class="col-xs-6 listadoLogopedas">
          <span>Localidad <span>(Provincia)</span></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 listadoLogopedas">
          <span>Nombre Apellido</span>
        </div>
        <div class="col-xs-6 listadoLogopedas">
          <span>Localidad <span>(Provincia)</span></span>
        </div>
      </div>
    </div>
    <div id="paginacion" class="col-xs-12 text-center">
      <ul class="pagination">
        <li class="disabled">
          <span>&laquo;</span>
        </li>
        <li class="active numeracionBlog">
          <span>1 <span class="sr-only">(página actual)</span></span>
        </li>
        <li class="numeracionBlog">
          <span>2 <span class="sr-only"></span></span>
        </li>
        <li class="numeracionBlog">
          <span>3 <span class="sr-only"></span></span>
        </li>
        <li class="numeracionBlog">
          <span>4 <span class="sr-only"></span></span>
        </li>
        <li class="numeracionBlog">
          <span>5 <span class="sr-only"></span></span>
        </li>
        <li><a href="">&raquo; </a></li>
      </ul>
    </div>
  </section>

  <section id="parte7" class="row">
    <div class="col-xs-12">
      <span class="titulosLogin">TE RESPONDE</span>
      <div><br>Si tienes alguna duda, no dudes<br>
        Contacta con nosotros, consulte con nuestros especialistas sus dudas e inquetudes. Estaremos gratos de responder y ayudar en la mayor brevedad posible. Contacta con nosotros directamente.
      </div>
    </div>

    <div id="DatosResponde" class="row cuerpoVistas">
      <div class="col-sm-offset-2 col-sm-8">
        <div id="formulario_contacto" class="container-fluid">
          <form action="result.php" method="post">
            <span class="blanco">Nombre*</span><br>
            <input class="barra_formulario" name="name" skinpart="name" type="text" placeholder="Su nombre" maxlenght="50" /><br>
            <span class="blanco"><br>Email*</span><br>
            <input class="barra_formulario" name="email" skinpart="email" type="text" placeholder="Su email" maxlenght="50" /><br>
            <span class="blanco"><br>Parentesco con el Paciente*</span><br>
            <input class="barra_formulario" name="name" skinpart="subject" type="text" placeholder="Parentesco" maxlenght="50" /><br>
            <div class="col-xs-12">
              <span class="blanco"><br>Edad Paciente*:</span><br>
              <%= select_date Date.today, prefix: :start_date %>
            </div>
        </div>
        <span class="blanco"><br>Motivo de la consulta*</span><br>
        <textarea class="barra_formulario_mensaje" name="message" skinpart="message" placeholder="Descríbenos su caso"></textarea><br>
        <span class="blanco">Su dirección de correo electrónico no será publicada. Todos los campos son obligatorios.<br><br></span><input class="btn enviar_correo" name="send" skinpart="send" type="submit" value="ENVIAR" />
        </form>
      </div>
    </div>
</div>
</section>

<section id="parte8" class="row">
  <div class="col-xs-12">
    <span class="titulosLogin">PREGUNTAS FRECUENTES</span>
    <div>
      <%= render 'estatico/preguntas_frecuentes', {
          numero:'1',
          pregunta:'MI HIJO DE AÑO DE 6 AÑOS NO PRONUNCIA LA RR. ¿ES NORMAL?',
          respuesta: 'En este caso conviene realizar una evaluación para comprobar si existe o no alteración en la movilidad lingual y descartar la existencia de un frenillo corto que justifique dicho comportamiento.'} %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'2',
          pregunta:'MI HIJO TIENE VEGETACIONES, ¿SI LO OPERAMOS EMPEZARÁ A RESPIRAR POR LA NARIZ?',
          respuesta:'Necesitará trabajo logopédico. La obstrucción de la vía aérea nasal habrá instaurado un patrón de respiración oral. Se debe restaurar la respiración nasal y trabajar la alteración de las funciones orofaciales que existan como consecuencia de esta situación.'} %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'3',
          pregunta:'¿A PARTIR DE QUÉ DEBO PREOCUPARME SI MI HIJO HABLA MAL?',
          respuesta:'Los chicos deben seguir unos determinados estadios de desarrollo; en consecuencia, con cada edad se corresponden unos aprendizajes. El "ya hablará" resulta muy frecuente y perjudicial. Ante cualquier duda, la mejor opción es consultar con el profesional más cercano y resolverlas.' } %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'4',
          pregunta:'MI HIJO MANTIENE LA BOCA ENTREABIERTA, RESPIRA POR LA BOCA Y RONCA. ¿QUÉ DEBO HACER?',
          respuesta:'Debes acudir al otorrino para que examine el caso. Hay que determinar por qué no respira por la nariz. Lo más probable será que necesite tratamiento y rehabilitación logopédica dirigida a la respiración nasal, posición de la lengua, sellado labial y ronquido, en líneas generales.' } %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'5',
          pregunta:'SOY PROFESOR Y AL FINAL DEL DÍA MI VOZ SUENA RONCA Y FATIGADA. ¿HAY ALGÚN TRUCO?',
          respuesta:'Tu voz está manifestando las consecuencias de un sobreesfuerzo. Acude a tu médico para descartar la existencia de alguna lesión en las cuerdas vocales y visita a tu logopeda más cercano para adquirir una técnica vocal adecuada.' } %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'6',
          pregunta:'¿POR QUÉ MOTIVOS PUEDE EXISTIR UNA RESPIRACIÓN ORAL?',
          respuesta:'Ocurre cuando la respiración nasal es sustituida por un patrón oral. Se puede relacionar con factores genéticos, hábitos orales inadecuados, obstrucción nasal y/o faríngea. El primer paso es acudir al otorrino y a tu logopeda más cercano.' } %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'7',
          pregunta:'MI HIJO TIENE DIFICULTAD PARA RESPIRAR, MUCHOS MOCOS, RESPIRACIÓN CON RUIDO, LA BOCA ABIERTA, COME MUY MAL ENSEÑANDO TODA LA COMIDA Y SACANDO LA LENGUA. LE PIDO QUE CIERRE LA BOCA, PERO NO ME HACE CASO.',
          respuesta:'Si tu hijo tiene mocos, ojos caídos, ojeras, cara alargada, alteraciones dentales, boca entreabierta, cansancio o parece estar distraído, entre otras cosas, manifiesta características que encajan dentro del perfil de los respiradores orales. No puede comer mejor porque necesita respirar por la boca al tiempo que mastica y traga. Lo primero que debes hacer es acudir al otorrino e iniciar el trabajo con tu logopeda más cercano.' } %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'8',
          pregunta:'MI HIJA TIENE MORDIDA ABIERTA Y ME HA DICHO EL DENTISTA QUE VISITE AL LOGOPEDA, PERO NO SÉ PARA QUÉ EXACTAMENTE.',
          respuesta:'Tu dentista te ha aconsejado bien. Conviene examinar las anomalías orofaciales que van unidas a este perfil. Seguramente la posición de la lengua está adelantada, es posible que no respire de manera adecuada por la nariz (por lo tanto, habría que visitar también al otorrino), que no sea capaz de cerrar los labios y que se encuentran alterados algunos sonidos del habla.' } %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'9',
          pregunta:'ME HAN DICHO QUE MI HIJO TIENE FRENILLO, PERO QUE NO PASA NADA PORQUE EL PEDIATRA SE LO PUEDE CORTAR EN LA CONSULTA SIN MÁS PROBLEMA...',
          respuesta:'Si realmente tu hijo tiene un frenillo lingual corto o la implantación es inadecuada y le limita la movilidad lingual, el primer paso es hacer una evaluación de ese frenillo, de la movilidad de la lengua y de las funciones en las que interviene. En relación a sus características se determinará la necesidad de intervenir y qué tipo de intervención es necesaria, siempre pensando en la adecuación del tipo de intervención al tipo de frenillo.' } %>

      <%= render 'estatico/preguntas_frecuentes', {
          numero:'10',
          pregunta:'ME ACABO DE PONER UNA ORTODONCIA Y ME HA DICHO EL DENTISTA QUE VAYA AL LOGOPEDA PORQUE NO TRAGO BIEN. ¿QUÉ PUEDE SER ESO?.',
          respuesta:'Lo que habrá detectado tu dentista es una alteración en tu deglución. Puede darse teniendo una estructura adecuada o bien como resultado de una adaptación que has hecho para compensar problemas estructurales. Bien sea deglución atípica (en el primer caso) o adaptada (en el segundo), consulta con tu logopeda más cercano. ' } %>

    </div>
  </div>
</section>

</article>
