<section class="titulo row">
    <div class="col-xs-12 text-center sub-titulo">
        <h2 class="titulosMovil">Registro de usuario</h2>
    </div>
</section>
<section class="row cuadro-foto">
    <div class="col-sm-offset-2 col-sm-8 col-xs-12">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group paddingtop paddingbottom text-center">
                <%= f.label :nombre, "Nombre", class: "control-label col-xs-12" %>
                <div class="col-sm-12 col-xs-12">
                    <%= f.text_field :nombre, class: "col-sm-12" %>
                </div>
            </div>

            <div class="form-group paddingtop paddingbottom text-center">
                <%= f.label :apellidos, "Apellidos", class: "control-label col-xs-12" %>
                <div class="col-sm-12 col-xs-12">
                    <%= f.text_field :apellidos, class: "col-sm-12" %>
                </div>
            </div>

            <div class="form-group paddingtop paddingbottom text-center">
                <%= f.label :numero_colegiado, "Numero de colegiado", class: "control-label col-xs-12" %>
                <div class="col-sm-12 col-xs-12">
                    <%= f.text_field :numero_colegiado, class: "col-sm-12" %>
                </div>
            </div>

            <div class="form-group paddingtop paddingbottom text-center">
                <%= f.label :email, "Correo electrónico", class: "control-label col-xs-12" %>
                <div class="col-sm-12 col-xs-12">
                    <%= f.email_field :email, autofocus: true, class: "col-sm-12" %>
                </div>
            </div>
            <div class="row">

                <div class="form-group paddingtop paddingbottom text-center">
                    <div class="col-sm-6 col-xs-12 text-center">
                        <%= f.label :password, "Contraseña", class: "control-label col-xs-12" %>
                        <%= f.password_field :password, autocomplete: "off" %>
                        <% if @minimum_password_length %>
                            <p><em>(Debe tener un mínimo de <%= @minimum_password_length %> caracteres)</em></p>
                        <% end %>
                    </div>

                    <div class="col-sm-6 col-xs-12 text-center">
                        <%= f.label :password_confirmation, "Confirme la contraseña", class: "control-label col-xs-12" %>
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group paddingtop paddingbottom text-center">
                    <div class="col-sm-6 col-xs-12 text-center">
                        <%= f.label :direccion, "Dirección", class: "control-label col-xs-12" %>
                        <%= f.text_field :direccion, class: "col-sm-12" %>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-center">
                        <%= f.label :telefono, "Teléfono", class: "control-label col-xs-12" %>
                        <%= f.text_field :telefono, class: "col-sm-12" %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group paddingtop paddingbottom">
                    <div class="col-sm-6 col-xs-12 text-center">
                        <%= f.label :localidad, "Localidad", class: "control-label col-xs-12" %>
                        <%= f.text_field :localidad, class: "text-center" %>
                    </div>

                    <div class="col-sm-6 col-xs-12 text-center">
                        <%= f.label :provincia, "Provincia", class: "control-label col-xs-12" %>
                        <%= f.collection_select :provincia_id, Provincia.order('nombre'), :id, :nombre, class: "text-center" %>
                    </div>
                </div>
            </div>
            <div class="form-group paddingtop paddingbottom">
                <div class="col-sm-12 col-xs-12 text-center">
                    <%= f.submit "Enviar" %>
                </div>
            </div>
        <% end %>
    </div>
</section>
