<article id="imagen-frontal" class="container-fluid">
  <section class="row titulo">
    <div class="col-xs-12 text-center sub-titulo">
      <h2>Imagen Frontal del Paciente</h2>
    </div>
  </section>
 
  <section class="row">
    <div class="col-xs-12" id="helpers">
      <h3 data-step="1">En esta sección empezaremos a tratar la imagen <strong>frontal</strong> del paciente. En primer lugar seleccione la imagen.</h3>
      <h3 data-step="2" class="out">Ahora mueva la imagen hasta cuadrarla perfectamente dentro del círculo, cuando esté listo pulse <strong>continuar.</strong></h3>
      <h3 data-step="3" class="out">Rote la imagen si así lo desea. Pulse <strong>continuar</strong> cuando esté. O pulse <strong>atrás</strong> si desea seguir moviendo la imagen.</h3>
      <h3 data-step="4" class="out">Mueva ahora los tercios. Una vez esté listo pulse <strong>continuar.</strong></h3>
    </div>
  </section>

  <section id="image-wrapper">
    <input type="hidden" name="paciente_id" value="<% @paciente_id %>">

    <div id="image_treatment_area">
      <div class="select-image-btn">Seleccionar nueva imagen</div>
      <button class="back" disabled>Atrás</button>
      <button class="continue" disabled>Continuar</button>

      <div class="cropit-preview"></div>

      <input type="range" class="cropit-image-zoom-input" />
      <input type="file" class="cropit-image-input" />
    </div>
  </section>
</article>