<article id="datos-paciente" class="container-fluid cuerpo">
    <section class="titulo" class="row">
      <div class="col-xs-12 text-center sub-titulo">
        <h2 class="titulosMovil"> 1 <span class="rojo">/</span> DATOS PERSONALES PACIENTES</h2>
      </div>
    </section><br>

    <section id="login" class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12">
        <%= form_for(@paciente) do |f| %>
          <% if @paciente.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>
              <ul>
              <% @paciente.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group paddingtop paddingbottom">
            <%= f.label :nombre, class: 'control-label col-xs-12' %>
            <div class="col-xs-12">
              <%= f.text_field :nombre, class: 'form-control', placeholder: 'Nombre' %>
            </div>
          </div>

          <div class="form-group paddingtop paddingbottom">
            <%= f.label :apellidos, class: 'control-label col-xs-12' %>
            <div class="col-xs-12">
              <%= f.text_field :apellidos, class: 'form-control', placeholder: 'Apellidos' %>
            </div>
          </div>

          <div class="form-group paddingtop paddingbottom">
            <%= f.label :telefono, class: 'control-label col-xs-12' %>
            <div class="col-xs-12">
              <%= f.text_field :telefono, class: 'form-control', placeholder: 'Teléfono de contacto' %>
            </div>
          </div>

          <div class="col-xs-12">
            <%= f.label :fecha_nacimiento, class: 'control-label' %>
            <br>
            <%= f.date_select :fecha_nacimiento,
                {start_year: Time.now.year-80,
                end_year: Time.now.year,
                order: [:day, :month, :year]},
                class: "col-md-4" %>
          </div>

          <div class="form-group paddingtop paddingbottom">
            <%= f.label :motivo_consulta, class: 'control-label col-xs-12' %>
            <div class="col-xs-12">
              <%= f.text_field :motivo_consulta, class: 'form-control', placeholder: 'Motivo de la consulta' %>
            </div>
          </div>

          <div class="form-group paddingtop paddingbottom">
            <%= f.label :anamnesis, class: 'control-label col-xs-12' %>
            <div class="col-xs-12">
              <%= f.text_field :anamnesis, class: 'form-control', placeholder: 'Anamnesis' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :sexo, class: 'control-label col-xs-12'%><br>
            <div class="col-xs-6 text-center">
              Hombre</br>
              <%= f.radio_button :sexo, "Hombre" %>
            </div>
            <div class="col-xs-6 text-center">
              Mujer</br>
              <%= f.radio_button :sexo, "Mujer" %>
            </div>
          </div>

          <div class="col-xs-12">
            <%= f.label :fecha_inicio_terapia %><br>
            <%= f.date_select :fecha_inicio_terapia,
                {start_year: Time.now.year-10,
                end_year: Time.now.year,
                order: [:day, :month, :year]},
                class: "col-md-4" %>
          </div>
        <% end %>
      </div>
    </section>

  <section class="navegacion row paddingtop text-center">
    <div class="col-sm-offset-1 col-sm-5 col-xs-offset-2 col-xs-4">
      <span class="glyphicon glyphicon-circle-arrow-left btn-pasos go-back"></span>
    </div>
    <div class="col-sm-5 col-xs-4">
      <span class="glyphicon glyphicon-circle-arrow-right btn-pasos new-paciente"></span>
    </div>
  </section>
</article>
