<p id="notice"><%= notice %></p>
<article class="container-fluid cuerpo">

  <div class="row">
    <div class="col-md-6">
      <h1>Nombre del paciente</h1>
    </div>
    <div class="col-md-6">
      <%= link_to 'Nuevo paciente', new_paciente_path, class: 'btn btn-default' %>
    </div>
  </div>
  <h2>Pacientes</h2>
  <div class="row">
    <% @pacientes.each do |paciente| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="row">
          <div class="col-md-3">
            <div class="panel-thumbnail"><%= image_tag 'portrait.png', class: 'img-responsive' %></div></div>
          <div class="col-md-9">
            <div class="panel-body">
              <p class="lead"><%= paciente.nombre %></p>
              <div class="col-md-6">
                <p><%= paciente.fecha_nacimiento %></p>
              </div>
              <div class="col-md-6">
                <p><%= paciente.sexo %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= link_to 'Ver paciente', paciente_path(paciente), class: 'btn btn-default' %>
          </div>
          <div class="col-md-6">
            <%= link_to 'Nueva medicion', new_paciente_medicione_path(paciente), class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</article>
