<section id="mostrar-paciente">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag 'portrait.png', class: 'img-responsive' %>
    </div>
    <div class="col-md-3">
      <h3>Nombre: <%= @paciente.nombre %></h3>
      <h4>Fecha de nacimiento: <%= @paciente.fecha_nacimiento %></h4>
      <h4>Sexo: <%= @paciente.sexo %></h4>
    </div>
    <div class="col-md-6">
      <h4>Fecha de inicio de la terapia: <%= @paciente.fecha_inicio_terapia %></h4>
      <h4>Motivo de la consulta:</h4>
      <p><%= @paciente.motivo_consulta %></p>
      <h4>Anamnesis:</h4>
      <p><%= @paciente.anamnesis %></p>
    </div>
  </div>

  <div class="row">
    <div class="ct-chart"></div>
    <div class="col-md-6">
      <%= link_to 'Listado de pacientes', pacientes_path, class: 'btn btn-default'  %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Nueva medicion', new_paciente_medicione_path(@paciente), class: 'btn btn-default' %>
    </div>

  </div>
</div>
