<section class="row">

    <%- if controller_name != 'sessions' %>
        <div class="col-sm-6 text-center">
            <%= link_to "Iniciar sesión", new_session_path(resource_name) %>
        </div>
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <div class="col-sm-6 text-center">
            <%= link_to "Registrarse", new_registration_path(resource_name) %>
        </div>
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <div class="col-sm-6 text-center">
            <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) %>
        </div>
    <% end -%>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <div class="col-sm-6 text-center">
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
        </div>
    <% end -%>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <div class="col-sm-6 text-center">
            <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
        </div>
    <% end -%>

    <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
            <div class="col-sm-6 text-center">
                <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
            </div>
        <% end -%>
    <% end -%>
</section>
