<section class="titulo row">
    <div class="col-xs-12 text-center sub-titulo">
        <h2 class="titulosMovil">¿Olvidaste tu contraseña?</h2>
    </div>
</section>
<section class="row cuadro-foto">
    <div class="col-sm-offset-2 col-sm-8 col-xs-12">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group paddingtop paddingbottom text-center">
                <%= f.label :email, "Correo electrónico", class: "control-label col-xs-12" %>
                <div class="col-sm-12 col-xs-12">
                    <%= f.email_field :email, autofocus: true, class: "col-sm-12" %>
                </div>
            </div>

            <div class="text-center">
                <%= f.submit "Envíame las instrucciones" %>
            </div>
        <% end %>
    </div>
</section>
