<section id="titulo" class="row">
    <div class="col-xs-offset-2 col-xs-8"><br>
        <%= image_tag 'login/login.png', alt: 'login', heigh: '', width: '100%', class: 'logologin' %>
    </div>
    <div class="col-xs-offset-2 col-xs-8 paddingtop">
        <%= image_tag 'login/malla.png', alt: 'login', heigh: '', width: '100%', class: 'logologin' %>
    </div>
</section>
<section  id="login" class="row">
    <div class="col-sm-offset-4 col-sm-4 col-xs-12 paddingtop paddingbottom">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="checkbox text-center">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, "Recordarme" %>
                </div>
            <% end -%>

            <div class="text-center">
                <%= f.submit "Entra" %>
            </div>
        <% end %>
    </div>
</section>
<%= render "devise/shared/links" %>
