<article id="datos-mediciones" class="container-fluid cuerpo">
	<section class="titulo" class="row">
		<div class="col-xs-12 text-center sub-titulo">
			<h2 class="titulosMovil"> 2 <span class="rojo">/</span> INTRODUCCIÓN DE DATOS</h2>
		</div>
	</section>

	<section class="row cuadro-foto">
		<div class="col-sm-offset-2 col-sm-6 col-xs-12">
			<%= form_for [@paciente, @medicione] do |f| %>
			<% if @medicione.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@medicione.errors.count, "error") %> prohibited this medicione from being saved:</h2>

				<ul>
					<% @medicione.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<div class="form-group paddingtop paddingbottom">
				<label class="control-label col-xs-12">COMISURA LABIAL / BORDE EXTERIOR DEL OJO:</label>
				<div class="col-sm-6 col-xs-12">
					<%= f.text_field :ojo_comisura_derecho, class: 'form-control', placeholder: 'Lado DERECHO'%>
				</div>
				<div class="col-sm-6 col-xs-12">
					<%= f.text_field :ojo_comisura_izquierdo, class: 'form-control', placeholder: 'Lado IZQUIERDO'%>
				</div>
			</div>

			<div class="form-group paddingtop paddingbottom">
				<div class="col-sm-6 col-xs-12">
				  <label class="control-label col-xs-12">ALTURA DEL LABIO SUPERIOR:</label>
					<%= f.text_field :altura_labio_superior, class: 'form-control', placeholder: 'Altura Labio Superior' %>
				</div>
				<div class="col-sm-6 col-xs-12">
				  <label class="control-label col-xs-12">ALTURA DEL LABIO INFERIOR:</label>
					<%= f.text_field :altura_labio_inferior, class: 'form-control', placeholder: 'Altura Labio Inferior' %>
				</div>
			</div>

      <div class="form-group paddingtop paddingbottom">
	      <div class="col-sm-6 col-xs-12">
	        <label class="control-label col-xs-12">FILTRO</label>
		      <%= f.text_field :leporino, class: 'form-control', placeholder: 'FILTRO'%>
	      </div>
	      <div class="col-sm-6 col-xs-12">
	        <label class="control-label col-xs-12">TRICHION / GNATIO:</label>
		      <%= f.text_field :trichion_menton, class: 'form-control', placeholder: 'TRICHION / GNATIO:'%>
	      </div>
      </div>
      <div class="form-group paddingtop paddingbottom">
        <div class="col-sm-12 col-xs-12">
          <label class="control-label col-xs-12">DISTANCIA INTERCISIVA MAXIMA</label>
          <%= f.text_field :distancia_intercisiva_maxima, class: 'form-control', placeholder: 'DISTANCIA INTERCISIVA MAXIMA' %>
        </div>
      </div>

      <div class="form-group paddingtop paddingbottom">
	      <label class="control-label col-xs-12">TERCIOS</label>
	      <div class="col-sm-4 col-xs-12">
		      <%= f.text_field :tercio_superior, class: 'form-control', placeholder: 'SUPERIOR (Trichion a Glabela)'%>
	      </div>
	      <div class="col-sm-4 col-xs-12">
		      <%= f.text_field :tercio_medio, class: 'form-control', placeholder: 'MEDIO (Glabela a Subnasal)'%>
	      </div>
	      <div class="col-sm-4 col-xs-12">
		      <%= f.text_field :tercio_inferior, class: 'form-control', placeholder: 'INFERIOR (Subnasal a Gnation)'%>
	      </div>
      </div>

      <div class="form-group paddingtop paddingbottom">
	      <label class="control-label col-xs-12">TERCIOS del 1/3 INFERIOR</label>
	      <div class="col-sm-4 col-xs-12">
		      <%= f.text_field :tercio_inferior_superior, class: 'form-control', placeholder: 'SUPERIOR (Subnasal a Estomio)'%>
	      </div>
	      <div class="col-sm-4 col-xs-12">
		      <%= f.text_field :tercio_inferior_medio, class: 'form-control', placeholder: 'MEDIO (Estomio a Supramentoniano)'%>
	      </div>
	      <div class="col-sm-4 col-xs-12">
		      <%= f.text_field :tercio_inferior_inferior, class: 'form-control', placeholder: 'INFERIOR (Supramentoniano a Gnatio)'%>
	      </div>
      </div>

      <div class="field">
	      <%= f.label :paciente_id, hidden: '' %>
	      <%= f.text_field :paciente_id, hidden: '', value: @paciente.id %>
      </div>
    </div>
</div>
</div>

<div class="col-sm-4">
  <%= image_tag 'malla-01.jpg', alt:'', width:'80%', style: 'margin:auto' %>
  <%= button_tag 'Subir fotografia', class: 'btn btn-default' %>
</div>
</section>

<section class="navegacion row paddingtop text-center">
	<div class="col-sm-offset-1 col-sm-5 col-xs-offset-2 col-xs-4">
		<span class="glyphicon glyphicon-circle-arrow-left btn-pasos new-medicion"></span>
	</div>
	<div class="col-sm-5 col-xs-4">
		<span class="glyphicon glyphicon-circle-arrow-right btn-pasos new-medicion"></span>
	</div>
</section>
</article>
<% end %>
