<p id="notice"><%= notice %></p>

<h1>Listing Mediciones</h1>

<table>
  <thead>
    <tr>
      <th>Ojo derecho</th>
      <th>Ojo izquierdo</th>
      <th>Oreja izquierda</th>
      <th>Oreja derecha</th>
      <th>Cupido izquierdo</th>
      <th>Cupido derecho</th>
      <th>Leporino</th>
      <th>Paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mediciones.each do |medicione| %>
      <tr>
        <td><%= medicione.ojo_comisura_derecho %></td>
        <td><%= medicione.ojo_comisura_izquierdo %></td>
        <td><%= medicione.leporino %></td>
        <td><%= medicione.trichion_menton %></td>
        <td><%= medicione.tercio_superior %></td>
        <td><%= medicione.tercio_medio %></td>
        <td><%= medicione.tercio_inferior %></td>
        <td><%= medicione.tercio_inferior_superior %></td>
        <td><%= medicione.tercio_inferior_medio %></td>
        <td><%= medicione.tercio_inferior_inferior %></td>
        <td><%= link_to 'Show', medicione_path(params[:paciente_id], medicione) %></td>
        <td><%= link_to 'Edit', edit_medicione_path(params[:paciente_id], medicione) %></td>
        <td><%= link_to 'Destroy', medicione_path(params[:paciente_id], medicione), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicione', new_paciente_medicione_path %>
