<p id="notice"><%= notice %></p>

<p>
  <strong>Ojo derecho:</strong>
  <%= @medicione.ojo_comisura_derecho %>
</p>

<p>
  <strong>Ojo izquierdo:</strong>
  <%= @medicione.ojo_comisura_izquierdo %>
</p>

<p>
  <strong>Leporino:</strong>
  <%= @medicione.leporino %>
</p>
<%= @medicione.trichion_menton %>
<%= @medicione.tercio_superior %>
<%= @medicione.tercio_medio %>
<%= @medicione.tercio_inferior %>
<%= @medicione.tercio_inferior_superior %>
<%= @medicione.tercio_inferior_medio %>
<%= @medicione.tercio_inferior_inferior %>
<p>
  <strong>Paciente:</strong>
  <%= @medicione.paciente.nombre %>
</p>

<%= link_to 'Edit', edit_medicione_path(params[:paciente_id], @medicione) %> |
<%= link_to 'Back', paciente_mediciones_path(params[:paciente_id]) %>
