@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('<%= asset_path("glyphicons-halflings-regular.eot") %>');
   src: url('<%= asset_path("glyphicons-halflings-regular.eot?#iefix") %>') format('embedded-opentype'),
      url('<%= asset_path("glyphicons-halflings-regular.woff") %>') format('woff'),
      url('<%= asset_path("glyphicons-halflings-regular.ttf") %>') format('truetype'),
      url('<%= asset_path("glyphicons-halflings-regular.svg#glyphicons_halflingsregular") %>') format('svg');
}

@font-face {
    font-family: 'GeosansLight';
    src: url('<%= asset_path("GeosansLight.ttf") %>') format('truetype');
}

.GeosansLight {
    font-family: 'GeosansLight', Arial;
}

body {
    width: 100%;
    margin: 0px auto;
    height: 100%;
    background: white;
    font-family: sans-serif;
    background-attachment: fixed;
    font-family: 'GeosansLight', Arial;
    overflow: hidden;
}

.paddingtop {
    padding-top: 20px;
}

.paddingbottom {
    padding-bottom: 20px;
}

.rojo {
    color: red;
}

/* EMPIEZA menu_superior */

#MenuPrincipal {
    background: #A4A4A4;
    padding-left: 80px;
    padding-right: 80px;
}

/*logo */

.navbar-default .navbar-brand {
    color: white;
    background: url('<%= asset_path("logo.png") %>');
    background-size: 100%;
    width: 100px;
    height: 50px;
    text-indent: -9999px
}

/* enlaces */
.navbar-default .navbar-nav > li > a {
    color: white;
    padding-left: 0px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #2E2E2E;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #2E2E2E;
    background: none;
}

/* DIFERENTES TAMAÑO PATALLAS */

@media only screen and (max-width: 768px) {
    #MenuPrincipal {
    background: #a4a4a4;
    padding-left: 2%;
    padding-right: 2%;
    }

    .navbar-default .navbar-brand {
    color: white;
    background: url('<%= asset_path("logo2.png") %>');
    background-size: 100%;
    width: 50px;
    height: 50px;
    text-indent: -9999px
}

    /* enlaces */

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
    border: none;
    }

    .navbar-default .navbar-nav > li > a {
        text-align: center;
        border-bottom: none;
    }

    /* boton */
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: #2E2E2E;
    }
    .navbar-default .navbar-toggle {
    border: none;
    }

    .icon-bar {
        background: white !important;
    }

}

/* EMPIEZA login */

.cuerpo {
    padding-top: 72px;
    min-height: 88vh;
}

.logologin, .btn-default {
    max-width: 300px;
    display: block;
    margin: 0 auto 0 auto;
}
#parte1 {		
	  margin-top: 30px;		
	  background: #424242;		
	  color: white;		
	  text-align: center;		
	  font-size: 18px;		
	  padding: 40px 150px;		
}		

#parte2,		
#parte4,		
#parte6,
#parte8 {		
	  color: #424242;		
	  text-align: center;		
	  font-size: 18px;		
	  padding: 40px 150px;		
}		

#parte3 {		
	  background: #B40404;		
	  color: white;		
	  text-align: center;		
	  font-size: 18px;		
	  padding: 40px 150px;		
}		

#parte5, #parte7 {		
	  background: #424242;		
	  color: white;		
	  text-align: center;		
	  font-size: 18px;		
	  padding: 40px 150px;		
}		

.titulosLogin {		
	  font-size: 35px;		
	  border-top: 2px solid red;		
	  border-bottom: 2px solid red;		
	  padding: 8px 0px;		
}		

.titulosLogin2 {		
	  font-size: 35px;		
	  border-top: 2px solid white;		
	  border-bottom: 2px solid white;		
	  padding: 8px 0px;		
}		

@media only screen and (max-width: 768px) {		
	  .titulosLogin,		
	  .titulosLogin2 {		
	      font-size: 20px;		
	  }		
	  #parte1,		
	  #parte2,		
	  #parte3,		
	  #parte4,		
	  #parte5,		
	  #parte6 {		
	      padding: 40px 30px;		
	  }		
		
	  .imglogin {		
	      width: 100%;		
	  }		
	  .imglogin2 {		
	      width: 60%;		
	  }		
}

form {
    letter-spacing: 2px;
}

#derechos {
    background: #424242;
    color: white;
    min-height: 10vh;
    margin-top: 15px;
}

.btn-default {
    color: white;
    background-color: #a4a4a4;
    border: 2px solid #a4a4a4;
}

.btn {
    border-radius: 0px;
}

.btn-default:hover {
    color: black;
    border: 2px solid red;
}

/* EMPIEZA datos */

.sub-titulo {
    border-bottom: 1px solid red;
}

@media only screen and (max-width: 768px) {
    .titulosMovil {
    font-size: 130%;
    }

    .form-control {
        margin-bottom: 5%;
    }
}

.control-label,
form {
    font-family: sans-serif;
    color: #6E6E6E;
    padding-top: 10px;
}

.btn-pasos {
    font-size: 30px;
    color: #a4a4a4;
    cursor: pointer;
}

.btn-pasos:hover {
    color: #424242;
}

/* EMPIEZA seleccion perfil fotografiar */

.icono-seleccion {
    padding: 10px 10px;
    color: #FFF;
    background-color: #a4a4a4;
    border: 2px solid #a4a4a4;
    font-family: sans-serif;
}

.icono-seleccion:hover {
    text-decoration: none;
    border: 2px solid red;
    color: #424242;
    background: #E6E6E6;
    cursor: pointer;
}

.contenedor-icono-seleccion {
    padding-bottom: 20px;
    margin-top: 5px;
}

.perfiles {
    max-width: 300px;
    display: block;
    margin: 0 auto 0 auto;
}

@media only screen and (max-width: 768px) {
    .perfiles {
   display: none;
}
}
/* EMPIEZA resultados */

.cuadros-resultados {
    padding: 10px 0;
    margin-bottom: 10px;
    background: #E6E6E6;
}

.glyphicon-ok {
    color: #4B8A08;
}

.musculo {
    font-family: sans-serif;
    color: #6E6E6E;
    font-weight: bold;
}

.seguimiento {
    color: red;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .solopequeno {
   display: none;
}
}

@media only screen and (max-width: 768px) {
    .sologrande {
   display: none;
}
}

/* EMPIEZA grafica */

.grafica {
    background: #E6E6E6;
    min-height: 50px;
}

.tu-logopeda {
    border-top: 1px dashed white;
    padding: 5px;
}

.txt-tuLogopeda {
    font-family: 'GeosansLight', Arial;
    color: white;
}

.listadoLogopedas {
    background: #D8D8D8;
    margin: 2px 0px;
}


.pagination > li > a:focus,
.pagination > li > a,
.pagination > li > span:focus,
.pagination > li > span{
    color: white;
    background-color: #585858;
    border-color: none;
    cursor: pointer;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: #585858;
    background-color: #D8D8D8;
    border-color: white;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    color: #fff;
    cursor: default;
    background-color: black;
    border-color: white;
}

@media only screen and (max-width: 768px) {
    li.numeracionBlog{
        display: none;
    }
}




.barra_formulario {
    margin-bottom: 1%;
    width: 100%;
    color: #2E2E2E;
}

.barra_formulario_mensaje {
    width: 100%;
    color: #2E2E2E;
}

#formulario_contacto span{
    font-family: 'GeosansLight', Arial;
}

#formulario_contacto{
    margin-top: 5%;
}

#formulario_contacto,
#contactoDatos {
    margin-bottom: 5%;
}

#DatosResponde {
    margin-bottom: 5%;
}

.barraContacto {
    margin-bottom: 20px;
}

.enviar_correo {
    color: white;
    background-color: #a4a4a4;
    border: 2px solid #a4a4a4;
}

.enviar_correo:hover {
    color: black;
    border: 2px solid red;
    background-color: #e6e6e6;
}

.preguntasFrecuentes {
    margin-top: 30px;
    background: #D8D8D8;
    padding: 3px;
    color: black;
}