#imagen-frontal
	#frontal_avatar
		margin-top: 20px

	#image-wrapper
		text-align: center

	#helpers h3
		transition: color 1s

		&.out
			color: #E3E2E2

		&.done
			color: #0B9D36

	#image_treatment_area
		padding: 10px
		margin-top: 20px
		overflow: hidden
		text-align: center
		position: relative
		padding-top: 40px
		border: 1px solid #a4a4a4

		.cropit-preview-image-container .circle
			top: 50%
			left: 50%
			width: 520px
			height: 520px
			position: absolute
			border-radius: 100%
			border: 5px solid #FFF
			transform: translate(-50%, -50%)

			.vertical-line
				top: 0
				left: 50%
				width: 3px
				height: 100%
				position: absolute
				background-color: #FFF

			.top-line, .bottom-line
				height: 30px
				width: 200px
				margin: 0 auto
				display: block
				position: absolute
				left: 51% !important
				transform: translate(-50%,0)

			.bottom-line
				bottom: 30px

			.top-line
				top: 30px

		.cropit-preview
			width: 900px
			height: 540px
			margin: 0 auto

		.cropit-image-zoom-input
			margin-top: 35px

		.select-image-btn
			top: 5px
			left: 50%
			z-index: 200
			cursor: pointer
			font-size: 20px
			position: absolute
			transform: translate(-50%, 0)

		button
			margin-bottom: 15px

			&[disabled]
				opacity: .3

		.cropit-preview.cropit-image-loading .spinner 
			opacity: 1

		.cropit-image-zoom-input[disabled] 
			opacity: .2

		input.cropit-image-input 
			visibility: hidden

		.cropit-preview-background 
			opacity: .1

		input.cropit-image-zoom-input 
			position: relative

		#image-cropper
			overflow: hidden