<header>
  <nav id="MenuPrincipal" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan
    para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"></a>
    </div>

    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
    otro elemento que se pueda ocultar al minimizar la barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">INICIO /</a></li>
        <li><%= link_to "TU LOGOPEDA /", estatico_tulogopeda_path %></li>
        <li><%= link_to "TU APLICACION /", pacientes_path %></li>
        <li>
            <% if user_signed_in? %>
                <%= link_to "SALIR /", destroy_user_session_path, method: :delete  %>
            <% else %>
                <%= link_to "REGÍSTRATE", new_user_registration_path %>
                <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
