<!DOCTYPE html>
<html>
<head>
  <title>Logopedia</title>
  <meta charset = "UTF-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="overflow-y: scroll; overflow-x: auto;">
  <%= render 'layouts/header' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <section class="cuerpoGenerico">
    <%= yield %>
  </section>

  <%= render 'layouts/footer' %>
</body>
</html>
